<h2>Identité de la victime</h2>

<mat-progress-bar value="15"></mat-progress-bar>

<mat-radio-group labelPosition="before" name="civilite">
    <p>Civilite :
      <mat-radio-button value="mr">Mr.</mat-radio-button> <mat-radio-button value="mme">Mme.</mat-radio-button>
  </p>
</mat-radio-group>

<mat-form-field>
  <input matInput placeholder="Nom de naissance"/>
</mat-form-field>
<br />
<mat-form-field>
  <input matInput placeholder="Nom d'usage"/>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Prénom"/>
</mat-form-field>
<br />
<mat-form-field>
  <input matInput placeholder="Date de naissance">

</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Lieu de naissance"/>
</mat-form-field>
<br />
<mat-form-field>
  <input matInput placeholder="Nationalité"/>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Profession"/>
</mat-form-field>
<br />
<button mat-raised-button color="primary">Continuer</button>
